:root {
   --color-primary-iris: rgba(77, 90, 229, 1); /* #4D5AE5 */
   --color-pressed-ocean: rgba(64, 75, 191, 1); /* #404BBF */
   --color-dark-navyblue: rgba(46, 47, 66, 1);     /* #2E2F42 */
   --color-success-green: rgba(49, 208, 170, 1); /* #31D0AA */
   --color-text-slate: rgba(67, 68, 85, 1);   /* #434455 */
   --color-text-lightslate: rgba(142, 143, 153, 1); /* #8E8F99 */
   --color-accent-cornflower: rgba(231, 233, 252, 1); /* #E7E9FC */
   --color-light-cloud: rgba(244, 244, 253, 1);       /* #F4F4FD */
   --color-white: rgba(255, 255, 255, 1); /* #FFFFFF */
   --color-modal-dairy: rgba(252, 252, 252, 1); /* #FCFCFC */
   --color-hero-grey: rgba(46, 47, 66, 0.7);
   --color-modal-navyblue: rgba(46, 47, 66, 0.4);

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-white);
    color: var(--color-text-slate);
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p, 
ul,
ol {
    margin: 0;
    padding: 0;
}

input, textarea {
    outline: transparent;
}

.link {
    text-decoration: none;
    color: inherit;
}

.button {
    cursor: pointer;
    font-family: inherit;
}

.list {
    list-style: none;
}

.section {
    padding: 120px 0;
}

.container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* LOGO */

.logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-primary-iris);
    margin-right: 76px;
}

.logo-footer {
    margin-bottom: 16px;
}

.logo-studio-header {
    color: var(--color-dark-navyblue);
}

.logo-studio-footer {
    color: var(--color-light-cloud);
}

/* HEADER */

.header {
    border-bottom: 1px solid var(--color-accent-cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-dark-navyblue);
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover, .nav-link:focus {
    color: var(--color-pressed-ocean);
}

.nav-current {
    color: var(--color-pressed-ocean);
}

.nav-current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
    background-color: var(--color-pressed-ocean);
    border-radius: 2px;
}

.header-contacts {
    font-style: normal;
    display: flex;
    gap: 40px;
}

.header-contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header-contact:hover, .header-contact:focus {
    color: var(--color-pressed-ocean);
}

/* FOOTER */

.footer {
    background-color: var(--color-dark-navyblue);

    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.footer-info {
    max-width: 264px;
    margin-right: 120px;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-light-cloud);
}

.footer-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-white);
    margin-bottom: 16px;
    letter-spacing: 0.02em;
}

.footer-socials-list {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}

.footer-socials-item {
    width: 40px;
    height: 40px;
}

.footer-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-iris);
    border-radius: 50%;
    color: var(--color-light-cloud);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
    background-color: var(--color-success-green);
}

.footer-socials-icon {
    fill: currentColor;
}

.footer-subscribe {
    margin-left: auto;
}

.footer-subscribe-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    flex-wrap: wrap;
}

.subscribe-input {
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid var(--color-white);
    border-radius: 4px;
    color: var(--color-white);
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-input:focus {
    border-color: var(--color-primary-iris);
}

/* 
.subscribe-input:not(:placeholder-shown):invalid {
    border-color: rgba(255, 85, 85, 0.5);
}

.subscribe-input:not(:placeholder-shown):valid {
    border-color: var(--color-success-green);
}  
*/

.subscribe-input::placeholder {
    font-size: 12px;
    line-height: 2;
    color: var(--color-white);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:focus::placeholder {
    opacity: 0;
}

.subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    min-width: 165px;

    background-color: var(--color-primary-iris);
    border-radius: 4px;
    border: none;
    color: var(--color-white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: var(--color-success-green);
}

.subscribe-button-icon {
    margin-left: 16px;
}

/* HERO - SECTION 1 */

.hero {
    background-color: var(--color-dark-navyblue);
    padding: 188px 0;

    max-width: 1440px;
    margin: 0 auto;
    background-image:
            linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/studio/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-title {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-white);

    max-width: 496px;
    margin: 0 auto 48px;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    background-color: var(--color-primary-iris);
    color: var(--color-white);

    min-width: 169px;
    display: block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    padding: 16px 32px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus {
    background-color: var(--color-pressed-ocean);
}

/* PRINCIPLES - SECTION 2 */

.principles-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.principles-card {
    width: calc((100% - 72px) / 4);
}

.principles-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: var(--color-light-cloud);
    border-radius: 4px;
    margin-bottom: 8px;
}

.principles-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-dark-navyblue);

    margin-bottom: 8px;
}

.principles-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* JOBS - SECTION 3 */

.job {
    padding-top: 0px;
}

.job-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-dark-navyblue);

    margin-bottom: 72px;
}

.job-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.job-link {
    display: block;
}

/* TEAM - SECTION 4 */

.team {
    background-color: var(--color-light-cloud);
}

.team-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-dark-navyblue);

    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.team-card {
    background-color: var(--color-white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-text {
    padding: 32px 0;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-dark-navyblue);

    margin-bottom: 8px;
}

.team-position {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;

    margin-bottom: 8px;
}

.team-socials-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.team-socials-item {
    width: 40px;
    height: 40px;
}

.team-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-iris);
    color: var(--color-light-cloud);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-link:hover,
.team-socials-link:focus {
    background-color: var(--color-pressed-ocean);
}

.team-socials-icon {
    fill: currentColor;
}

/* CUSTOMERS - SECTION 5 */

.customers-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: var(--color-dark-navyblue);
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.customers-item {
    width: 168px;
    height: 88px;
}

.customers-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-text-lightslate);
    border-radius: 4px;
    color: var(--color-text-lightslate);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    border-color: var(--color-pressed-ocean);
    color: var(--color-pressed-ocean);
}

.customers-icon {
    fill: currentColor;
}

/* PORTFOLIO CONTENT */

.examples {
    padding-top: 96px;
}

.examples-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.examples-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-link:hover, .examples-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.examples-wrapper {
    position: relative;
    width: 360px;
    height: 300px;
    overflow: hidden;
}

.examples-description {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: var(--color-primary-iris);
    color: var(--color-light-cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-link:hover .examples-description, .examples-link:focus .examples-description {
    transform: translateY(0%);
}

.examples-text {
    padding: 32px 16px;
    border: 1px solid var(--color-accent-cornflower);
    border-top: none;
}

.examples-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-dark-navyblue);

    margin-bottom: 8px;
}

.examples-filter {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* PORTFOLIO FILTER */

.filter-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.filter-button {
    background-color: var(--color-light-cloud);
    border: 1px solid var(--color-accent-cornflower);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--color-primary-iris);

    padding: 12px 24px;

    transition:
            color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus {
    background-color: var(--color-pressed-ocean);
    color: var(--color-white);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* MODAL WINDOW */

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: not-allowed;
    background-color: var(--color-modal-navyblue);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
    position: absolute;
    width: 408px;
    min-height: 584px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: var(--color-modal-dairy);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 72px 24px 24px;
}

.modal-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--color-accent-cornflower);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover, .modal-close:focus {
    border: none;
    fill: var(--color-white);
    background-color: var(--color-pressed-ocean);
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.is-hidden .modal-window {
    transform: translate(-50%, -150%);
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-dark-navyblue);
    margin-bottom: 16px;
}

.contact-form-wrapper {
    position: relative;
    fill: var(--color-dark-navyblue);
    margin-bottom: 8px;
}

.contact-form-wrapper:focus-within {
    fill: var(--color-primary-iris);
}

/* 
.contact-form-input:not(:placeholder-shown):required:invalid {
    border-color: rgba(255, 85, 85, 0.5);
}

.contact-form-input:not(:placeholder-shown):valid {
    border-color: var(--color-success-green);
} 
*/

.contact-form-input-icon-box {
    position: relative;
}

.contact-form-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-text-lightslate);
    margin-bottom: 4px;
}

.contact-form-input {
    border: 1px solid var(--color-modal-navyblue);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding: 11px 16px 11px 38px;
    background-color: transparent;
    color: var(--color-dark-navyblue);
    /* transition:
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
    border-color: var(--color-primary-iris);
    color: var(--color-primary-iris);
}

.contact-form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-wrapper-comment {
    margin-bottom: 16px;
}

.contact-form-input-comment {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    color: var(--color-modal-navyblue);

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input-comment::placeholder {
    font-size: 12px;
    line-height: 1.33;
    color: var(--color-modal-navyblue);
}

.contact-form-input-comment:focus::placeholder {
    color: var(--color-primary-iris);
}

.contact-form-wrapper-terms {
    margin-bottom: 24px;
}

.contact-form-label-terms {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    color: var(--color-text-lightslate);
    letter-spacing: 0.04em;
}

.contact-form-label-terms-icon {
    position: absolute;
    top: 4px;
    left: 3px;
    fill: var(--color-light-cloud);

    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input-terms:checked+.contact-form-label-terms .contact-form-label-terms-icon {
    opacity: 1;
}

/* Realization of a custom checkbox via ::before pseudo-element */

/* .contact-form-label-terms::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid;
    border-color: var(--color-modal-navyblue);
    border-radius: 2px;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input-terms:checked+.contact-form-label-terms::before {
    background-color: var(--color-primary-iris);
    border-color: var(--color-primary-iris);
} */

.contact-form-custom-checkbox {
    display: inline-flex;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.contact-form-input-terms:checked+.contact-form-label-terms>.contact-form-custom-checkbox {
    border: none;
    background-color: var(--color-pressed-ocean);
    fill: var(--color-light-cloud);
}

.contact-form-label-terms-link {
    color: var(--color-primary-iris);
    text-decoration: underline;
}

.contact-form-button {
    display: block;
    min-width: 169px;
    margin: 0 auto;
    padding: 16px;
    letter-spacing: 0.04em;

    background-color: var(--color-primary-iris);
    border-radius: 4px;
    border: none;
    color: var(--color-white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-button:hover,
.contact-form-button:focus {
    background-color: var(--color-pressed-ocean);
}

/* HELPERS */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}